<h1> Shopping List </h1>

<div>
  <table class= "table">
    <thead>
      <tr>
          <th> Product</th>
          <th> Price</th>
          <th> Quantity</th>
          <th> Total Price</th>
          <th> Delete Item</th>
      </tr>
    </thead>
    <tbody>
      <% @line_items.each do |line_item|%>
      <tr>
        <td><%= line_item.product.name%></td>
        <td><%= number_to_currency(line_item.product.price)%></td>
        <td><%= line_item.quantity%></td>
        <td><%= number_to_currency(line_item.line_item_total)%></td>
        <td><%= link_to "Delete", delete_from_cart_path(line_item_id: line_item.id), method: :post, class: "btn btn-danger btn-xs", data: {confirm: "Are you sure your want to delete?"}%></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Go to checkout", checkout_path, class: "btn btn-success"%>
<%= link_to "Continue Shopping", root_path, class: "btn btn-info"%>
