<div class="row">
  <% @products.each do |product| %>
      <div class= "col-sm-6 col-md-4">
      <div class= "well text-center">
        <% if product.image.url.nil? == false %>
            <p><%= image_tag product.image.url, size:250 %></p>
            <%end%>
            <h3> <%= link_to product.name, product %></h3>
            <p> <%= number_to_currency product.price %></p>
            <p>
                <a href= "#" data-toggle= "modal" data-target= "#myModal_<%=product.id%>">
                    <span class="glyphicon glyphicon-plus"></span>Quick Info
                </a>
            </p>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal_<%=product.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">Details</h4>
            </div>
            <div class="modal-body">
              <% if product.image.url.nil? == false %>
                  <p><%= image_tag product.image.url, size:150 %></p>
                  <% end %>
                  <p>Made By: <%= product.brand %></p>
                  <p>Price: <%= number_to_currency(product.price) %> </p>
                  <p>Description: <%= product.description %> </p>
                  <p>Rating: <%= product.rating %></p>
                  <p>Category: <%= product.category.name %> </p>
                  <p>Quantity: <%= product.quantity %></p>
            </div>
            <div class="modal-footer">
                <div style ="display: inline-block;">
                  <%= form_tag add_to_cart_path, method: :post do %>
                    <%= hidden_field_tag :product_id, product.id%>
                    <%= number_field_tag :quantity, nil, min: 1, placeholder: "Quantity", class: "form-control", style: "width: 120px; display: inline-block;"%>
                    <%= submit_tag "Add to Cart", class: "btn btn-primary", style: "display:inline-block;"%>
                    <% end %>
                </div>
              <div style="display:inline-block;">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
 </div>
  <%end%>
</div>
